__pycache__/
*.pyc

.venv/
venv/
env/

*.log

models/*.pkl

generated/*
predictions/*.json

.DS_Store

.env
*.pem
*.key
credentials

__pycache__/
*.pyc
.venv/
venv/
env/
.cache/

# CloudShell / local environment
.aws/
.cassandra/
.config/
.bash_logout
.bash_profile
.bashrc
.gitconfig
.lesshst
.zprofile
.zshrc
